:root {
  --bg-color: #121212;
  --accent-color: #1a1a1a;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 100%;
}

body {
  background: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
}

.map-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.map-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  background: #1a1a1a;
  border-radius: 5px;
  color: white;
}

.map-select:hover {
  background: #333333;
  cursor: pointer;
}

.home-button {
  position: fixed;
  text-align: center;
  top: 1rem;
  left: 1rem;
  color: white;
  padding: 0.5rem;
  background: #1a1a1a;
  border-radius: 5px;
  cursor: pointer;
  width: 4rem;
}

.home-button:hover {
  background: #333333;
}

.timer {
  position: fixed;
  text-align: center;
  top: 1rem;
  right: 1rem;
  color: white;
  padding: 0.5rem;
  background: #121212;
  border-radius: 5px;
  width: 4rem;
}

.boundary {
  border: 0.2rem solid red;
  position: absolute;
}

.click-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #121212;
  color: white;
  border-radius: 5px;
}

.click-menu p {
  padding: 1rem;
}

.click-menu p:hover {
  background: #333333;
  cursor: pointer;
}

.click-menu p.found {
  text-decoration: line-through;
  color: #666666;
}

.click-menu p.found:hover {
  background: #121212;
}

.miss {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #121212;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.hit {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #121212;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.win-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  text-align: center;
  width: 20rem;
  height: 10rem;
  top: calc(50% - 5rem);
  right: calc(50% - 10rem);
  color: white;
  padding: 0.5rem;
  background: #121212;
  border-radius: 5px;
}

.leaderboard-container {
  padding: 3rem 1rem;
  overflow: auto;
}

.leaderboard-map-name {
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.leaderboard {
  color: white;
  border: 1px solid #333333;
  width: 100%;
}

.leaderboard-headers > th {
  border: 1px solid #333333;
  font-weight: bold;
  padding: 0.4rem;
}

.leader-container > td {
  border: 1px solid #333333;
  text-align: center;
  padding: 0.2rem;
}

.loading {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.leaderboard-button {
  position: fixed;
  text-align: center;
  top: 1rem;
  right: 1rem;
  color: white;
  padding: 0.5rem;
  background: #1a1a1a;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
}

.leaderboard-button:hover {
  background: #333333;
}

.leaderboard-selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  color: white;
}

.leaderboard-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  background: #1a1a1a;
  border-radius: 5px;
  color: white;
}

.leaderboard-selector:hover {
  background: #333333;
  cursor: pointer;
}

.selector-header {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
